
.solution {
  padding-top: .5rem;
  background-color:rgba(24,144,255,0.1);
  border: 1px solid #1890ff;
  border-radius: .4rem;
  font-size: smaller;
  font-weight: 600;
}

.solution-text {
  padding-top: .5rem;
  background-color:rgba(24,144,255,0.1);
  border: 1px solid #1890ff;
  border-radius: .4rem;
  font-size: smaller;
  font-weight: 600;
}

.success {
  padding: .5rem 1rem;
  background-color: rgba(82,196,26,0.1);
  border: 1px #52c41a;
  border-radius: .4rem;
}

.warning {
  padding: .5rem 1rem;
  background-color: rgba(250,140,22,0.1);
  border: 1px solid #fa8c16;
  border-radius: .4rem;
}

.info {
  padding: .5rem 1rem;
  background-color: rgba(24,144,255,0.1);
  border: 1px solid #1890ff;
  border-radius: .4rem;
}

.mycomment {
  padding: .5rem 1rem;
  background-color: rgba(0,0,0,0.05);
  border: 1px solid rgb(201, 201, 201);
  border-radius: .4rem;
  color: #777;
}

.article_link {
  font-size: smaller;
}
